[submodule "skeletons/standard"]
	path = skeletons/standard
	url = https://github.com/stdmod/puppet-skeleton-standard
[submodule "skeletons/simple"]
	path = skeletons/simple
	url = https://github.com/stdmod/puppet-skeleton-simple
